.categories-container {
  .category-container {
    @apply w-[28%] h-[500px] m-2
    flex flex-col flex-grow;

    &:hover {
      cursor: pointer;

      & .background-image {
        @apply opacity-90;
      }

      & .category-body-container {
        @apply opacity-90;
      }
    }

    &.large {
      height: 380px;
    }

    &:first-child {
      margin-right: 7.5px;
    }

    &:last-child {
      margin-left: 7.5px;
    }

    .background-image {
        @apply w-full h-full bg-cover bg-center;
    }

    .category-body-container {
        @apply my-3;

        h2 {
            @apply font-bold text-neutral-900 text-xl capitalize flex items-center;

            svg {
              @apply text-3xl;
            }
        }

    }
  }
}