.cart-dropdown-container {
  width: 260px;
  height: 300px;

  @media (min-width: 700px) {
    width: 280px;
    height: 320px;
  }

  @media (min-width: 1024px) {
    width: 320px;
    height: 360px;
  }

  .empty-message {
    @apply text-lg mx-auto mt-auto;
    
    svg {
      @apply w-[25px] h-auto m-auto mb-2;
    }
  }

  .cart-items {
    @apply h-full mb-3
    flex flex-col
    overflow-scroll overflow-y-auto overflow-x-hidden
  }

  button {
    @apply mt-auto;
  }
}
